@font-face {
	font-family: "montserrat-regular";
	src: url("../fonts/montserrat-regular-webfont.woff");
	src: url('../fonts/montserrat-regular-webfont.woff') format('woff'),
	font-weight: normal;
    font-style: normal;
}

body {
	background: #2C3E50;
	color: #fff;
	font-family: "montserrat-regular";
	text-align: center;
}

header {
	z-index: 10;
	background: #34495e;
	position: fixed;
	color: #fff;
	padding-top: 0;
}

nav {
	text-align: center;
	margin: 0;
	padding-top: 0;
	padding-left: 0;
	color: #fff;
}

nav ul li {
	margin-left: 10px;
	display: inline-block;
}

nav ul li a {
	opacity: 0.6
	color: #fff;
	text-decoration: none;
}
nav ul li a:hover {
	opacity: 1;
}

.page {
	width: 100%;
	height: 100vh;
	position: relative;
	display: table;
}

footer {

}

h2 img {
	width: 50px;
	height: 50px;
}